Feature: Create Functionality
	As an admin user
	I will be able to create new Client
	I will be able to search the newly created Client
	I will be able to create new client manager user
	I will be able to create new Master user
	I will be able to create new CSR user
	I will be able to create new Technician user
	
	Background:
		Given there are following users:
			| username | password   |
			| adminUser    | test123 |
			| managerAccount    | test123 |
			| masterAccount    | test123 |
			| CSRAccount    | test123 |
        And I am on "/"
		And I click on login "Client Login"
	
	@createClient
    Scenario: Create New Client
		When I am authenticated as "adminUser"
		And I press on "Add Client" button
		And I fill in "company" with "behatClient001"
		And I check "options[send_as_feature]"
		And I fill in "contact_email" with "behatClient001@stage.com"
		When I press "submit_client_form"
		Then I should not see "Error: company with such name already exists in the database"
		Then I save a screenshot
	
	@searchClient
	Scenario: Search for the newly created Client
		When I am authenticated as "adminUser"
		And I fill in "keywords" with "behatClient001"
		And I press "Search"
		Then I should see the newly created client "behatClient001"
		Then I save a screenshot
		
	@createClientManager
	Scenario: Create Client Manager User
		When I am authenticated as "adminUser"
		And I hover over "Client Management"
		And I click on "Manage User Accounts"
		And I click on "Add User"
		And I fill in "username" with "managerAccount"
		And I fill in "email" with "managerAccount@stage.com"
		And I fill in "password" with "test123"
		And I fill in "password_confirm" with "test123"
		And I select "behatClient001" from "clients_id"
		And I select "client" from "memberships"
		When I press "Save"
		Then I should not see text matching "The username you"
		Then I save a screenshot	
		
	@loginAsClientManager
	Scenario: Login as new Client Manager User
		When I am authenticated as "managerAccount"
		And I accept the term of use
		When I click on "Dashboard Manager Pro"
		Then I should be on "/clients/feedback_requests"
		Then I save a screenshot
		
	@createMasterUser
	Scenario: Create Master User
		When I am authenticated as "adminUser"
		And I hover over "Client Management"
		And I click on "Manage Master Users"
		And I click on "Add User"
		And I fill in "username" with "masterAccount"
		And I fill in "email" with "masterAccount@stage.com"
		And I fill in "password" with "test123"
		And I fill in "password_confirm" with "test123"
		When I press "Save"
		Then I should not see text matching "The username is"
		Then I save a screenshot	
		
	@loginAsMasterUser
	Scenario: Login as new Master User
		When I am authenticated as "masterAccount"
		And I accept the term of use	
		Then I should be on "/master_account"
		Then I should see text matching "Hi,masterAccount"
		Then I save a screenshot

	@createCSRUser
	Scenario: Create CSR User
		When I am authenticated as "CSRAccount"
		And I hover over "Client Management"
		And I click on "Manage User Accounts"
		And I click on "Add User"
		And I fill in "username" with "CSRAccount"
		And I fill in "email" with "CSRAccount@stage.com"
		And I fill in "password" with "test123"
		And I fill in "password_confirm" with "test123"
		And I select "behatClient001" from "clients_id"
		And I select "csr" from "memberships"
		When I press "Save"
		Then I should not see text matching "The username you"
		Then I save a screenshot	
		
	@loginAsCSRUser
	Scenario: Login as new CSR User
		When I am authenticated as "CSRAccount"
		And I accept the term of use	
		Then I should be on "/clients/feedback_requests/"
		Then I save a screenshot			